*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-header
{
    background: rgb(10, 10, 10);
    padding: 30px;
    font-family: 'Times New Roman';
    color: white;
}

.img-logo-header
{
    padding-left: 0%;
    padding-top: 0%;
    width: 200px;
    height: 75px;
}

.lista-publicacion
{
    width: 75%;
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    font-family: 'Times New Roman';
    box-shadow: 7px 13px 37px #000;
}

.publicacion
{
    width: 90%;
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    font-family: 'Times New Roman';
    box-shadow: 2px 8px 18px #000;
    word-wrap: break-word;
}

.form-publicar
{
    width: 50%;
    background: rgba(10, 10, 10, 0.823);
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    font-family: 'Times New Roman';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register, .form-login
{
    width: 500px;
    background: rgba(10, 10, 10, 0.823);
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    font-family: 'Times New Roman';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register a
{
    color: whitesmoke;
    text-decoration: none;
}

.form-register a:hover
{
    color: whitesmoke;
    text-decoration: underline;
}

.form-register .botons
{
    width: 50%;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}