{% extends 'base.html' %}

{% block namepage %}Detalle{% endblock %}

{% block contents %}
<div class="lista-publicacion" ALIGN="center">
    {% if user.is_authenticated %}
        <p><a href="{% url 'homepage' %}">Ir a Homepage</a> - <a href="{% url 'mibarrio' user.id %}">Ir a Mi Barrio</a> - <a href="{% url 'notipublicas' %}">Ir a NOTI-PUBLICAS</a></p>
    {% else %}
        <p><a href="{% url 'homepage' %}">Ir a Homepage</a> - <a href="{% url 'notipublicas' %}">Ir a NOTI-PUBLICAS</a></p>
    {% endif %}
    {% for publicacion in lista_publicacion %}
        <div class="publicacion">
            <h3>{{ publicacion.title }}</h3>
            <p>{{ publicacion.text }}</p>
            <p>{{ publicacion.location.namebarrio }} - {{ publicacion.user }} - {{ publicacion.publicationdate}}</p>
            <img src="{{ publicacion.image_one }}" alt="">
            <img src="{{ publicacion.image_two }}" alt="">
            <img src="{{ publicacion.image_three }}" alt="">
            {% if publicacion.user == user.email %}
                <p><button class="btn" type="submit">Likes {{ publicacion.likes }}</button> - <button class="btn" type="submit">Dislikes {{ publicacion.dislikes }}</button> - <a class="btn" href="{% url 'detallepublicacion' publicacion.id %}">Comentar</a> - <a class="btn" href="{% url 'edit_publicacion' publicacion.id %}">Editar</a> - <a class="btn" href="{% url 'eliminar' publicacion.id %}">Eliminar</a></p>
            {% else %}
                <p><button class="btn" type="submit">Likes {{ publicacion.likes }}</button> - <button class="btn" type="submit">Dislikes {{ publicacion.dislikes }}</button> - <a class="btn" href="{% url 'detallepublicacion' publicacion.id %}">Comentar</a></p>
            {% endif %}
        </div>
        {% for comentario in lista_comentario %}
            <div class="comentario">
                <p>{{ comentario.text }}</p>
                {% if comentario.user == user.email %}
                    <p>{{ comentario.user }} - {{ comentario.comentdate}} - <a class="btn" href="{% url 'eliminarcomentario' comentario.id %}">Eliminar</a></p>
                {% else %}
                    <p>{{ comentario.user }} - {{ comentario.comentdate}}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}