{% extends 'base.html' %}

{% block content %}
	<!--Reset Password-->
	<div>
  	 	<h2>Reestablecer contraseña</h2>
		<hr>
		<p>Ingrese su nueva contraseña</p>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <div>
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Guardar nueva contraseña</button>
        </form>
  	</div>
{% endblock %}